@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}
.h2{
  text-align: center;
  font-weight: bold;
}